<!doctype html>
<html lang="en" ng-app="jazzyWebsiteApp">
  <head>
    <meta charset="utf-8">
    <title>Jazzy Gasper</title>
    <script src="app/bower_components/angular/angular.js"></script>
    <script src="app/bower_components/angular-route/angular-route.js"></script>
    <script src="app/js/app.js"></script>
    <script src="app/js/controllers/TabController.js"></script>
    <link rel="stylesheet" href="app/stylesheets/style.css"/>
  </head>
  <body>
    <div id="tabs" ng-controller="TabController">
    <div id='menu'>
        <a href="" class="{{tab.title}}"
            ng-repeat="tab in tabs"
            ng-class="{active:isActiveTab(tab.url)}"
            ng-click="onClickTab(tab)">{{tab.title}}
        </a>
    </div id="mainView">
      <div ng-include="currentTab"></div>
    </div>

    <script type="text/ng-template" id="home.html">
      <div class="home-container" ng-view>
        <div class="first-row">
          <div id="triangle1">
          </div>
          <div id="triangle2">
          </div>
          <div id="triangle1">
          </div>
          <div id="triangle2">
          </div>
          <div id="triangle3">
          </div>
        </div> <br>
        <div class="second-row">
          <div id="triangle5">
          </div>
          <div id="triangle2">
          </div>
          <div id="triangle4">
          </div>
          <div id="triangle2">
          </div>
          <div id="triangle4">
          </div>
          <div id="triangle2">
          </div>
          <div id="triangle4">
          </div>
        </div>
        <div class="third-row">
          <div id="triangle2">
          </div>
          <div id="triangle5">
          </div>
          <div id="triangle2">
          </div>
          <div id="triangle4">
          </div>
          <div id="triangle2">
          </div>
          <div id="triangle4">
          </div>
          <div id="triangle2">
          </div>
        </div>
      </div>
    </script>

    <script type="text/ng-template" id="cv.html">
      <div class="cv-container" ng-view>
        <h1>Jazzy Gasper_</h1></br>
        <div class="cv-content">
          <p>An enthusiastic software developer excited about technology and its potential to make positive change in the world. 
            Having a background in Graphic Design, I value opportunities to think out of the box and express myself creatively, 
            while my experience retraining at an intensive coding bootcamp made me an expert in picking up new software skills quickly. 
            With a career spanning over 6 years, I've been instrumental in actively guiding and contributing to projects end-to-end in both global enterprises and emerging startups.</p>
        <h2>Work Experience_</h2>
        <div>
          <h3>The LEGO Group, London <span>(January 2023 – November 2023)</span></h3>
          <p>Front End Developer</p>
          <p>Sparking joy with playful, inclusive experiences users can only have on LEGO.com.</p>
          <ul>
            <li>Collaborated with product developers and designers to conceptualize, design, and build key interactive features on the LEGO website for high profile campaigns, such as the code breaker game and minifigure customiser for the 2023 Rebuild the World campaign,
            a <a href="https://www.lego.com/en-us/gifts/gift-finder">gift finder tool</a> for the holiday season, as well as 
            the <a href="https://www.lego.com/en-gb/themes/disney/100-years/mural">Disney castle window creator</a> for the Disney 100th anniversary.</li>
            <li>Implemented new livestreaming feature embedded on the LEGO website using Firework and enabling users to seamlessly add featured sets to their cart during the live broadcast.</li>
            <li>Migrating codebase from JavaScript to TypeScript to improve code quality, maintainability, and developer productivity.</li>
            <li>Created reusable components in React to be consumed by the component library with Storybook and used by teams across the company, streamlining development processes and enhancing consistency.</li>
            <li>Used Contentstack and GraphQL to manage content for internationalization across 70+ locales worldwide to ensure a cohesive user experience across diverse global markets.</li>
            <li>Enhanced the accessibility of custom components on the LEGO website, recognizing the importance of inclusive design, 
              particularly through the implementation of keyboard navigation and refined focus styles.</li>
            <li>Led technical refinement and effectively divided tasks into actionable tickets, overseeing their progression to ensure timely completion.</li>
            <li>Rotated leadership responsibilities within the team, with each member taking turns facilitating key Scrum events such as Daily Standup, Backlog Refinement, Sprint Planning, and Sprint Retrospective.</li>
            <!-- <li>Volunteered at the Natural History Museum to represent the Lego Group's educational activities.</li>           -->
          </ul>
  
          <h3>Banked, London/Remote <span>(October 2019 – October 2022)</span></h3>
          <p>Software Engineer (Customer Team)</p>
          <p>Building better digital banking solutions for consumers, businesses and banks.</p>
          <ul>
            <li>Developed a hosted and embeddable checkout for merchants/clients to seamlessly integrate with their businesses.
              Built with React initially then rebuilt with web components using the Lit framework to make it more lightweight and easier to embed.</li>
            <li>Drove improvements in conversion rates by employing a data-driven approach, continuously iterating on the checkout application based on key performance metrics.</li>
            <li>Decreased time spent on manual checks by implementing cypress testing for the checkout, to be run locally and on browserstack for automated cross browser testing.</li>
            <li>Increased test coverage by implementing service-level tests executed within a Docker pod environment across a complex set of microservices, leading to a more robust and reliable testing framework.</li>
            <li>Maintained and improved on the merchant console built with Rails.</li>
            <li>Created demo applications for different products used by the sales team in front of customers and investors.</li>
            <li>Worked in a start up environment, quickly making prototypes and testing ideas to drive innovation and product development.</li>
            <li>Facilitated interviews for mid and senior level developer roles, pushing for more diversity in the engineering team.</li>
          </ul>
  
          <h3>AND Digital, London <span>(March 2017 – April 2019)</span></h3>
          <p>Software Developer AND Glitter Fairy</p>
          <p>Helping clients reach their digital aspirations.</p>
  
          <p>Conde Nast International  <span>(April 2018 – March 2019)</span></p>
          <ul>
            <li>Front End Developer on Vogue Fashion Shows team</li>
            <li>React web application with Next and Node.js middleware</li>
            <li>Jest, cypress.io, CircleCI, docker, styled components</li>
          </ul>
  
          <p>Internal Project <span>(February – March 2018)</span></p>
          <ul>
            <li>Vue.js chatbot</li>
          </ul>
  
          <p>Talk Talk <span>(July 2017 – January 2018)</span></p>
          <ul>
            <li>Front End Developer working on an Angular web application</li>
            <li>Jasmine, styled components</li>
          </ul>
        </div>

        <h2>Volunteering_</h2>
        <div class="content">
          <h3>Codebar, London/Virtual <span>(October 2016 – Present)</span></h3>
          <p>Volunteer Organiser and Coach</p>
          <p>Helping with the growth of a diverse digital community by organizing and coaching at free programming workshops for minority groups in tech.</p>
          <ul>
            <li>
              Offering mentorship and guidance to students through tutorials and personal projects involving JavaScript, Ruby, HTML and CSS.
            </li>
            <li>
              Recently joined the organizing team and currently coordinating by-weekly virtual workshops.
            </li>
          </ul>        
        </div>
    
        <h2>Education_</h2>
        <h3>Makers Academy (Feb–May 2016)</h3>
          <p>Highly intensive and selective coding bootcamp.<p>
          <ul>
            <li>Curiosity and hungry passion for code</li>
            <li>Teamwork and collaboration</li>
            <li>Independent learner and problem-solver</li>
            <li>OOP, TDD, SOLID, MVC, DDD</li>
            <li>Software Craftsmanship</li>
            <li>Ruby, Rails, Javascript, Node.js, Angular.js</li>
            <li>Rspec, Jasmine, Mocha, Chai</li>
          </ul>
        <h3>Central Saint Martins College, London (2012–2015)</h3>
        <p>Awarded BA (Hons) Graphic Design<br>
          Focus on Design and Interaction including branding, web design, typography, advertising, and photography</p>
        
        <h3>Other Qualifications</h3>
          <p>Preliminary certificate of Teaching English as a Foreign Language (TEFL)</p>
          <p>Josh W Comeau CSS Course for JavaScript Developers</p>

        <h2>Other Experience_</h2>
          <p><span style="font-weight: bold">Off To Work, London</span> (October 2015–December 2015)<br>
          <span style="font-style: italic">Ice Marshall at Natural History Museum Ice Rink</span><br>
            Ensured the safety of the public while doing some sick tricks on the ice</p>
          <p><span style="font-weight: bold">Wrappers Delight, Bristol</span> (May 2015–October 2015)<br>
          <span style="font-style: italic">Social Media Coordinator & Hummus Queen</span><br>
            Created social media content to promote their festival catering business and made some killer wraps along the way
            ... FOLLOW US ON <a href="https://www.instagram.com/wrapvandelight/">INSTAGRAM</a> AND <a href="https://www.facebook.com/wrapvandelight">FACEBOOK</a></p>
          <p><span style="font-weight: bold">Pearson Education, South Asia</span> (May 2015–October 2015)<br>
          <span style="font-style: italic">Freelance Editor</span><br>
            Editing and proofreadin English language teaching materials for Vietnamese schools</p>
          <p><span style="font-weight: bold">LONDONTHEINSIDE, London</span> (July 2014–December 2014)<br>
          <span style="font-style: italic">Digital Media Assistant</span><br>
            Managed their website<br>
            Created weekly newsletters<br>
            <a href="http://londontheinside.com/tag/jasmina-gasper/">Wrote short feature articles</a></p>
          <p><span style="font-weight: bold">Captured on the Rye, London</span> (September 2014–December 2014)<br>
          <span style="font-style: italic">Teaching Assistant</span><br>
          Assisted with screen printing Birthday parties for children<br>
          Created social media content<br>
          Rebranded their website</p>
        </div>
      </div>
    </script>

    <script type="text/ng-template" id="portfolio.html">
      <div class="portfolio-container" ng-view>
        <h1>portfolio</h1>
        <!-- <div ng-controller='PortfolioController'> -->
        <img ng-click='toggleModal()' id="portfolio-menu" src="app/img/openindex-banner.png">
        <modal-dialog show='modalShown' >
          <div id="openindex">
          <h2>What is <span><a href="https://github.com/LGBT-hackers/open_index">Open Index</a></span>?</h2>
            <p id="openindex-intro">Open Index was created for the Facebook x Intertech 24hr Hackathon with the theme #makestuffbetter.
              It aims to be a well-rounded indicator of minority group experiences across companies.
              Users can search companies, populated from the glassdoor api, read and leave ratings and reviews reviews left by others.
              Not only will this benefit potential and current employees, but also encourage companies to improve their diversity schemes in order to increase their Open Index!
            </p></br>
            <img id="openindex-img" src="app/img/openindex-screenshot.png"></br>
            <h2>Future Plans:</h2>
            <p>Including more categories of questions to cover different aspects of diversity including BME and gender inequality (which means more leaderboards!).
            Support workplaces in recruiting members of the LGBT community by being able to post job ads.
            Also refactor the code and add more tests.</p>
          </div>
        </modal-dialog>

          <img ng-click='toggleModal()' id="portfolio-menu" src="app/img/playfest-banner02.png">
          <modal-dialog show='modalShown' >
            <div id="playfest">
            <h2>What is <span><a href="https://github.com/jazzygasper/playfest">Playfest</a></span>?</h2>
              <img id="playfest-img" src="app/img/playfest-screenshot.png">
              <p id="playfest-intro">Playfest is an app in which the user can take a picture via their phone camera of a festival
                or concert poster, log in to Spotify and get a playlist with the top ten songs of artists displayed
                on that festival poster. The back end is built with Express and Node.js, and the front end with Ionic
                which uses AngularJS. Our app uses an optical character recognition (OCR) API and the spotify API.</p><br>
            <h2 id="playfest-challenges">Challenges</h2>
              <p>One challenge we faced was figuring out how our app could recognise which words on the poster were
                relevant to creating our playlists. We tried a few approaches, for example identifying the festival by
                location or dates and using the Songkick API to cross check the festival and then find relevant artists.
                However, because there is no consistency in the appearance and format of this information from one poster
                to the next, none of these strategies produced a reliable solution. We overcame this hurdle when we realised
                that our OCR software could also recognise the relative size of the text displayed on the page and therefore,
                since big acts are usually represented with larger text, we could tailor our code to identify those prominent
                artists. Right now, the OCR is not perfect (for example, it cannot recognise some artists due to warped fonts),
                but we feel happy we've reached a workable solution and will strive to keep improving our app.</p>
            <h2>Demo</h2>
              <iframe width="650" height="358.63" src="https://www.youtube.com/embed/OAF3pvoFZVU" frameborder="0" allowfullscreen></iframe>
            </div>
          </modal-dialog>

          <img ng-click='toggleModal()' id="portfolio-menu" src="app/img/thegoodfairy-banner.png">
          <modal-dialog show='modalShown' >
            <div id="goodfairy">
              <h2>What is <span><a href="https://thegoodfairy.herokuapp.com/">thegoodfairy</a></span>?</h2>
              <p>The Good Fairy is my university project, which I based on the principles and practices of critical graphic design. The websiteis to
                 help the homeless in London by creating a map of top 10 charities and services based on postcode.</p>
             <img style="width: 650px;" src="app/img/thegoodfairy-screenshot01.png">
             <img style="width: 650px;" src="app/img/thegoodfairy-screenshot02.png">
             <img style="width: 650px;" src="app/img/thegoodfairy-screenshot03.jpg">
             <img style="width: 650px;" src="app/img/thegoodfairy-screenshot04.jpg">
          </div>
          </modal-dialog>
        </div>
        </div>

      </div>
    </script>

      <script type="text/ng-template" id="contact.html">
    		<div class="contact-container" ng-view>
    			<h1>contact</h1>
          <div id="contact-content">
    			<p>Email: jasmina.gasper@gmail.com</p>
          <p><a href="https://uk.linkedin.com/in/jasmina-gasper-3a0346a1">LinkedIn: Jasmina Gasper</a></p>
          <p><a href="https://github.com/jazzygasper">Github: jazzygasper</a></p>
          <p><a href="https://twitter.com/jazzygasper">Twitter: @jazzygasper</a></p>
    		</div>
    	</script>
    </div>
  </body>
</html>
