body {
  font-family: futura;
}


div.first-row {
  margin-right: 110px;
}

div.second-row {
  float: right;
  /*margin-right: 20px;*/
}

div.third-row {
  float: right;
  margin-right: 90px;
}

div.fourth-row {
  float: right;
  /*position: relative;*/
  margin-right: 20px;
}

#triangle1 {
    width: 0;
    height: 0;
    border-bottom: 200px solid #00A68E;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    float: right;
    margin-bottom: 10px;
}

#triangle1:hover {
    width: 0;
    height: 0;
    border-bottom: 200px solid #00BC92;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    float: right;
    margin-bottom: 10px;
}

#triangle2 {
    width: 0;
    height: 0;
    border-top: 200px solid #207685;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    float: right;
    margin-bottom: 10px;
    margin: 0px -90px 0px -90px;
}

#triangle2:hover {
    width: 0;
    height: 0;
    border-top: 200px solid #345D82;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    float: right;
    margin-bottom: 10px;
    margin: 0px -90px 0px -90px;
}

#triangle3 {
    width: 0;
    height: 0;
    border-bottom: 200px solid #45457E;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    margin-bottom: 10px;
    float: right;
}

#triangle3:hover {
    width: 0;
    height: 0;
    border-bottom: 200px solid #00A68E;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    float: right;
    margin-bottom: 10px;
}

#triangle4 {
    width: 0;
    height: 0;
    border-bottom: 200px solid #008E89;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    float: right;
    margin-bottom: 10px;
}

#triangle4:hover {
    width: 0;
    height: 0;
    border-bottom: 200px solid #345D82;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    float: right;
    margin-bottom: 10px;
}

#triangle5 {
    width: 0;
    height: 0;
    border-bottom: 200px solid #345D82;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    float: right;
    margin-bottom: 10px;
}

#triangle5:hover {
    width: 0;
    height: 0;
    border-bottom: 200px solid #008E89;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    float: right;
    margin-bottom: 10px;
}

a {
  text-decoration: none !important;
  color: black;
}

div#menu a {
  font-size: 18px;
}

a.jazzygasper:hover {
  background: -webkit-linear-gradient(left, #00BC92, #00A68E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #00BC92
}

a.jazzygasper.active {
  background: -webkit-linear-gradient(left, #00BC92, #00A68E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #00BC92
}

a.about:hover {
  background: -webkit-linear-gradient(left, #00A68E, #008E89);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #00A68E;
}

a.about.active {
  background: -webkit-linear-gradient(left, #00A68E, #008E89);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #00A68E;
}

a.cv:hover {
  background: -webkit-linear-gradient(left, #008E89, #207685);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #008E89;
}

a.cv.active {
  background: -webkit-linear-gradient(left, #008E89, #207685);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #008E89;
}

a.portfolio:hover {
  background: -webkit-linear-gradient(left, #207685, #345D82);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #207685;
}

a.portfolio.active {
  background: -webkit-linear-gradient(left, #207685, #345D82);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #207685;
}

a.contact:hover {
  background: -webkit-linear-gradient(left, #345D82, #45457E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #345D82;
}

a.contact.active {
  background: -webkit-linear-gradient(left, #345D82, #45457E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #345D82;
}

div#menu {
  margin: 5% 0px 50px 5%;
  width: 100%;
  text-decoration: none !important;
  list-style-type: none;
  font-size: 16px;
  color: black;
}

p#welcome {
  font-size: 160px;
  color: #ccf9fb;
}

p#welcome:hover {
  text-transform: lowercase;
  font-size: 100px;
  color: #00898e;
}

h1 {
  font-size: 50px;
  float: right;
}

div.about-container {
  border: 1px solid white;
  width: 800px;
  margin: 10px 10px 10px 60px;
}

div.about-container p#about-top {
  border: 1px solid white;
  margin-top: 100px;
}

div.cv-container {
  border: 1px solid white;
  width: 800px;
  margin: 10px 10px 10px 60px;
}

div.cv-content {
  /*border: 1px solid #594F4F;*/
  width: 800px;
  margin-top: 140px;
}

div.cv-container a {
  color: #00BC92;
}

div.cv-container a:hover {
  color: #45457E;
}

div.portfolio-container {
  border: 1px solid white;
  width: 800px;
  margin: 10px 10px 10px 60px;
}

div.portfolio-container a {
  color: #00BC92;
}

div.portfolio-container a:hover {
  color: #45457E;
}

#portfolio-menu {
  /*text-decoration: none !important;
  list-style-type: none;*/
}

div.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.8;
}

div.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: absolute;
  width: 800px;
  height: 600px;

  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #fff;

  overflow: scroll;
}

div.ng-modal-dialog-content {
  padding:10px;
  text-align: left;
}
div.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
}

#openindex, #playfest, #makers-bnb, #goodfairy {
  /*border: 1px solid #594F4F;*/
  width: 650px;
  margin: 0 auto;
  padding-bottom: 100px;
}

#openindex-img {
  width: 650px;
}

p#playfest-intro {
  width: 200px;
  float: left;
  margin-right: -50px;
  margin-left: 50px;
}

h2#playfest-challenges {
  margin-top: 400px;
}

img#playfest-img {
  float: left;
  width: 240px;
}

div.contact-container {
  /*border: 1px solid black;*/
  width: 800px;
  margin: 10px 10px 10px 60px;
}

div#contact-content {
  /*border: 1px solid black;*/
  padding-top: 100px;
}

div.contact-container a{
  text-decoration: none !important;
  color: black;
}

div.contact-container a:hover{
  background: -webkit-linear-gradient(left, #00BC92, #45457E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #345D82;
}
