body {
  font-family: futura;
}

div.cv-content ul {
    list-style: none;
    text-decoration: none !important;
    padding: 0;
    margin: 0;
}

div.cv-content li {
  text-decoration: none !important;
  list-style-type: none;
}

div.portfolio-container li {
  list-style-type: disc;
  list-style-position: inside;
  text-indent: -1em;
}

a {
  text-decoration: none !important;
  color: black;
}

div#menu a {
  font-size: 18px;
}

a.jazzygasper:hover {
  background: -webkit-linear-gradient(left, #00BC92, #00A68E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #00BC92
}

a.about:hover {
  background: -webkit-linear-gradient(left, #00A68E, #008E89);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #00A68E;
}

a.cv:hover {
  background: -webkit-linear-gradient(left, #008E89, #207685);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #008E89;
}

a.portfolio:hover {
  background: -webkit-linear-gradient(left, #207685, #345D82);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #207685;
}

a.contact:hover {
  background: -webkit-linear-gradient(left, #345D82, #45457E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #345D82;
}

div#menu {
  margin: 5% 0px 50px 5%;
  width: 100%;
  text-decoration: none !important;
  list-style-type: none;
  font-size: 16px;
  color: black;
}

div.home-container {
  background: black;
}

p#welcome {
  font-size: 160px;
  color: #ccf9fb;
}

p#welcome:hover {
  text-transform: lowercase;
  font-size: 100px;
  color: #00898e;
}

h1 {
  font-size: 50px;
  float: right;
}

p {
  /*margin: 10px 10px 10px 10px;*/
}

div.about-container {
  border: 1px solid white;
  width: 800px;
  margin: 10px 10px 10px 60px;
}

div.about-container p#about-top {
  border: 1px solid white;
  margin-top: 100px;
}

div.cv-container {
  border: 1px solid white;
  width: 800px;
  margin: 10px 10px 10px 60px;
}

div.cv-content {
  /*border: 1px solid #594F4F;*/
  width: 800px;
  margin-top: 140px;
}

div.cv-container a {
  color: #00BC92;
}

div.cv-container a:hover {
  color: #45457E;
}

div.portfolio-container {
  border: 1px solid white;
  width: 800px;
  margin: 10px 10px 10px 60px;
}

div.portfolio-container a {
  color: #00BC92;
}

div.portfolio-container a:hover {
  color: #45457E;
}

div#playfest {
  /*border: 1px solid #594F4F;*/
  width: 650px;
  margin: 0 auto;
  padding-bottom: 100px;
}

p#playfest-intro {
  width: 200px;
  float: left;
  margin-right: -50px;
  margin-left: 50px;
}

h2#playfest-challenges {
  margin-top: 400px;
}

img#playfest-img {
  float: left;
  width: 240px;
}

div#makers-bnb {
  /*border: 1px solid #594F4F;*/
  width: 650px;
  margin: 0 auto;
  padding-bottom: 100px;
}

div#goodfairy {
  /*border: 1px solid #594F4F;*/
  width: 650px;
  margin: 0 auto;
  padding-bottom: 100px;
}

div.contact-container {
  /*border: 1px solid black;*/
  width: 800px;
  margin: 10px 10px 10px 60px;
}

div#contact-content {
  /*border: 1px solid black;*/
  padding-top: 100px;
}

div.contact-container a{
  text-decoration: none !important;
  color: black;
}

div.contact-container a:hover{
  background: -webkit-linear-gradient(left, #00BC92, #45457E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #345D82;
}
