<script type="text/ng-template" id="about.html">
  <div ng-view>
    <h1>who is she?</h1>
    <p>A creative junior developer/software engineer who is excited and enthusiastic about the potential of technology.
      After recently graduating from Central Saint Martins and discovering my passion for coding,
      I invested a lot of time and effort at Makers Academy to develop my programming skills.
      I am now an ambitious coder and looking for a role that will help me grow as a developer.</p>
  </div>
</script>
